<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar> </ion-header
  >,
  <ion-content fullscreen>
    <div class="flex-center height-100">
      <ion-card (click)="routeToScanner()">
        <img src="/assets/barcode.png" />
        <ion-card-header>
          <ion-card-title>Barcode</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          A barcode, consisting of bars and spaces, is a machine-readable representation of numerals and characters. Today, stripes as shown below on packages of products sold at supermarkets, convenience stores and other stores are ubiquitous. These are barcodes. A barcode consists of bars and spaces of varying width that can be read with an optical barcode scanner.
        </ion-card-content>
        </ion-card>
    </div>
  </ion-content>
</ion-app>